asciinema/
caja-actions/
caja/
chromium/
configstore/
dconf/
dleyna-renderer-service.conf
evolution/
GIMP/
google-chrome/
gnome-initial-setup-done
gnote/
goa-1.0/
gtk-2.0/
gtk-3.0/
ibus/
inkscape/
irssi/
libreoffice/
menus/
mimeapps.list
monitors-v1-backup.xml
monitors.xml
monitors.xml~
pulse/
QtProject.conf
user-dirs.dirs
user-dirs.locale
vlc/
wakatime/
yelp/
